---
import Heading from "@components/Heading.astro"
import Paragraph from "@components/Paragraph.astro"
import Layout from "@layouts/Layout.astro"
import { formatWebsite } from "@utils"

const { username } = Astro.params
if (!username) {
	return Astro.redirect("/people", 302)
}

const { db } = Astro.locals

const person = await db.query.profiles.findFirst({
	where: (p, { and, eq, isNotNull }) =>
		and(eq(p.username, username), isNotNull(p.approvedAt)),
})

if (!person) {
	Astro.response.status = 404
	Astro.response.statusText = "person not found"
	return
}

const name = person.name ?? `@${person.username}`
const formattedWebsite = formatWebsite(person.website)
---

<Layout title={name}>
  <main class="max-w-xl flex flex-col gap-4">
    <header>
      <Heading level="h1">{name}</Heading>
      <Paragraph class="text-sm">
        {person.does}
      </Paragraph>
      <Paragraph class="text-sm">
        <a href={person.website} class="internal-link font-bold">{formattedWebsite}</a>
      </Paragraph>
    </header>

    <Paragraph class="text-sm">{person.bio}</Paragraph>
  </main>
</Layout>
