---
import { drizzle } from "drizzle-orm/d1"
import Person from "../../components/Person.astro"
import { schema } from "../../db"
import Layout from "../../layouts/Layout.astro"

const { username } = Astro.params
if (!username) {
	return Astro.redirect("/people", 302)
}

const { env } = Astro.locals.runtime
const db = drizzle(env.DB, { schema })

const person = await db.query.people.findFirst({
	where: (p, { and, eq, isNotNull }) =>
		and(eq(p.username, username), isNotNull(p.approvedAt)),
})

if (!person) {
	Astro.response.status = 404
	Astro.response.statusText = "person not found"
	return
}

const name = person.name ?? `@${person.username}`
const displayUrl = new URL(person.website).hostname
---

<Layout title={name}>
  <main class="max-w-lg flex flex-col gap-4">
    <header>
      <h1 class="text-heading-three font-normal">{name}</h1>
      <p class="text-sm leading-tight">
        {person.does}
      </p>
      <p class="text-sm leading-tight">
        <a href={person.website} class="internal-link underline decoration-foreground/20">{displayUrl}</a>
      </p>
    </header>

    <p class="text-sm leading-tight">{person.bio}</p>
  </main>
</Layout>
