---
import Heading from "../../components/Heading.astro"
import Person from "../../components/Person.astro"
import Layout from "../../layouts/Layout.astro"

const { db } = Astro.locals

const people = await db.query.profiles.findMany({
	where: (p, { isNotNull }) => isNotNull(p.approvedAt),
	columns: {
		username: true,
		name: true,
		does: true,
		website: true,
		bio: true,
	},
})
---

<Layout title="people of yvr.page">
  <main class="max-w-lg flex flex-col gap-10">
    <Heading level="h1">people</Heading>
    <ul class="gap-4 flex flex-col">
      {people.map((person) => (
        <li>
          <Person
            username={person.username}
            name={person.name}
            does={person.does}
            website={person.website}
            bio={person.bio}
          />
        </li>
      ))}
    </ul>
  </main>
</Layout>
