---
import Heading from "@components/Heading.astro"
import Paragraph from "@components/Paragraph.astro"
import Person from "@components/Person.astro"
import Layout from "@layouts/Layout.astro"

const { db } = Astro.locals

const people = await db.query.profiles.findMany({
	where: (p, { isNotNull }) => isNotNull(p.approvedAt),
	orderBy: (table, { asc }) => asc(table.name),
	columns: {
		username: true,
		name: true,
		does: true,
		website: true,
		bio: true,
	},
})
---

<Layout title="Vancouver, BC">
  <main class="max-w-xl flex flex-col gap-10">
    <header class="flex flex-col gap-2">
      <Heading level="h1" class="uppercase">yvr.page</Heading>
      <Paragraph class="text-sm">
        a community site for meeting new folks in Vancouver, BC
      </Paragraph>
    </header>

    <section class="flex-1 flex flex-col gap-4">
      <Heading level="h2">
        <a href="/people" class="internal-link">people</a>
      </Heading>
      <span class="text-sm leading-none">--</span>
      <ul class="gap-4 flex flex-col">
        {people.map((person) => (
          <li>
            <Person
              username={person.username}
              name={person.name}
              does={person.does}
              website={person.website}
              bio={person.bio}
            />
          </li>
        ))}
      </ul>
    </section>

    <section class="flex-1 flex flex-col gap-4">
      <Heading level="h2">
        <a href="/events" class="internal-link">events</a>
      </Heading>
      <span class="text-sm leading-none">--</span>
      <Paragraph class="text-sm">
        events are coming soon. dm <a href="/people/sk" class="font-bold internal-link">sam</a> if you're interested in hosting or sponsoring an event.
      </Paragraph>
    </section>
  </main>
</Layout>
