---
import { formatWebsite } from "@utils"
import Heading from "./Heading.astro"
import Paragraph from "./Paragraph.astro"

interface Props {
	username: string
	name?: string | null
	does: string
	website: string
	bio: string
}

const { username, name, does, website: websiteHref, bio } = Astro.props
const website = formatWebsite(websiteHref)
---

<div>
  <Heading level="h3">
    <a href={`/people/${username}`} class="internal-link">{name || `@${username}`}</a>
  </Heading>
  <div class="flex flex-wrap gap-2 items-baseline text-sm">
    <Paragraph>{does}</Paragraph>
    <Paragraph>&ndash;</Paragraph>
    <Paragraph>
      <a href={websiteHref} class="internal-link">{website}</a>
    </Paragraph>
  </div>
  <Paragraph class="text-sm mt-2">{bio}</Paragraph>
</div>
